:root {
	--dark-mode-darkest: rgb(18, 18, 19);
	--light-border: rgb(211, 214, 218);
	--darker-gray: rgb(211, 214, 218);
	--darkest-gray: rgb(135, 138, 140);
	--green: rgb(106, 170, 100);
	--gold:rgb(201,180,88)
}
